@{
    ViewData["Title"] = "Home Page";
}
<style>

    body {
        background-image: url("https://thumbs.dreamstime.com/b/welcome-sign-rose-flower-yellow-background-147898335.jpg");
        background-size: 100% 100%;
        text-align: center;
    }

</style>
<body>

</body>